body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif;
}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url('/image/belfry-2611573_1920.jpg');
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.header {
  padding: 40px;
	color: #605461;
	background-color: #ded3de;
	text-align: center;
  font-family: "Raleway", sans-serif;
}

.container {
  position: relative;
  width: 50%;
}

.img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.w3-quarter:hover .image {
  opacity: 0.3;
}

.w3-quarter:hover .middle {
  opacity: 1;
}
