body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif;
}

body, html {
  height: 100%;
  line-height: 1.8;
}

.w3-bar .w3-button {
  padding: 16px;
}

body {
		color: #fff;
		background-image: url('/image/bgreserve.jpg');
		font-family: 'Roboto', sans-serif;
	}
	.form-control, .form-control:focus, .input-group-addon {
		border-color: #e1e1e1;
	}
    .form-control, .btn {        
        border-radius: 3px;
    }
	.reserve-form {
		width: 390px;
		margin: 0 auto;
		padding: 30px 0;
	}
    .reserve-form form {
		color: #999;
		border-radius: 3px;
    	margin-bottom: 15px;
        background: #fff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
	.reserve-form h2 {
		color: #333;
		font-weight: bold;
        margin-top: 0;
    }
    .reserve-form hr {
        margin: 0 -30px 20px;
    }
	.reserve-form .form-group {
		margin-bottom: 20px;
	}
	.reserve-form label {
		font-weight: normal;
		font-size: 13px;
	}
	.reserve-form .form-control {
		min-height: 38px;
		box-shadow: none !important;
	}	
	.reserve-form .input-group-addon {
		max-width: 42px;
		text-align: center;
	}
	.reserve-form input[type="checkbox"] {
		margin-top: 2px;
	}   
    .reserve-form .btn{        
        font-size: 16px;
        font-weight: bold;
		background: #FFC28A;
		border: none;
		min-width: 140px;
    }
	.reserve-form .btn:hover, .signup-form .btn:focus {
		background: #FFC28A;
        outline: none;
	}
	.reserve-form a {
		color: #fff;	
		text-decoration: underline;
	}
	.reserve-form a:hover {
		text-decoration: none;
	}
	.reserve-form form a {
		color: #19aa8d;
		text-decoration: none;
	}	
	.reserve-form form a:hover {
		text-decoration: underline;
	}
	.reserve-form .fa {
		font-size: 21px;
	}
	.reserve-form .fa-paper-plane {
		font-size: 18px;
	}
	.reserve-form .fa-check {
		color: #fff;
		left: 17px;
		top: 18px;
		font-size: 7px;
		position: absolute;
	}
	
